<section>
    <h2>{{name}}</h2>
    <h3>{{title}} <small><a href="/artists/{{id}}/edit">edit</a></small></h3>
</section>
<main>
    <section class="supplies">
        <img src="{{photo}}" alt="{{name}}">
        <ul>
            <li><strong>Birth:</strong> <span id="birth">{{birth}}</span></li>
            <li><strong>Death:</strong> <span id="death">{{death}}</span></li>
        </ul>
        {{!-- <h5>Related Tutorials</h5>
        {{#each tutorials}}
        <a href="{{this.id}}">{{this.title}}</a>
        {{/each}} --}}
    </section>
    <section class="bio">
        <h4>Biography</h4>
        <p>{{bio}}</p>
        <h4>Important Works</h4>
        <ul>
            {{#each works}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </section>
</main>
<script src="/scripts/date.js"></script>